<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container">
        <a class="navbar-brand" href="https://abyrd15.github.io/">
            <h3>Antonio A. Byrd</h3>
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarRepsonsive">
        <ul class="navbar-nav ml-auto">
            {% assign links = site.data.nav %}
            {% for link in links %}
                {% assign class = nil %}
                {% if page.url == link.url %}
                    {% assign class = 'active' %}
                {% endif %}
                {% if link.subnav %}
            <li class="nav-item dropdown {{ class }}">
                <a class="nav-link dropdown-toggle" href="#teaching_courses" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {{ link.title }}
                </a>
                <div class="dropdown-menu">
                    {% for sublink in link.subnav offset: 1 %}
                    <a class="dropdown-item" href="{{ sublink.url }}">
                        {{ sublink.title }}
                    </a>
                    {% endfor %}
                </div>
            </li>
                {% else %}
            <li class="nav-item {{ class }}">
                <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
            </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>


