<nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
    <div class="container">
        <a class="navbar-brand" href="https://abyrd15.github.io/">
            <h3>Antonio A. Byrd</h3>
        </a>
    </div>
</nav>

<script>
    var nav = document.querySelector ('nav');

    window.addEventListener('scroll', function(){
        if(window.pageYOffset > 100){
            nav.classList.add('bg-dark', 'shadow');
        }else{
            nav.classList.remove('bg-dark', 'shadow');
        }
    });
</script>


