.container-fluid {
  padding-top: 40px;
}

.container-footer {
  color: white;
  background-color: #4655A1;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.btn-primary {
  background-color: #4655A1 !important;
  border-color: none !important;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://drive.google.com/file/d/12oG0CZ8O2_FB8B5bKu39OBIAp4jbwlCw/view?usp=sharing');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hover-text {
  background:rgba(0, 0, 0, 0.5);
  opacity:0;
  transition-duration: 1.2s;
  transition-timing-function: ease-in-out;
}

.hover-text:hover {
  opacity:1;
}

.bg-cards {
  background-color:#4655A1;
}



  
