<div class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-sm-12 text-center text-white p-5 jumbotron jumbotron-fluid" style="background-color: rgba(0, 0, 0, 0.6)">
        <div class="container">
          <h1 class="display-3">Kansas City Professor & Author</h1>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="mailto:antoniobyrd@umkc.edu?subject=Hello Dr. Byrd!" role="button">Say Hello</a>
          </p>
        </div>
    </div>
  </div>
</div>