<div class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-sm-12 text-center text-white p-5 jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-3">Fluid jumbo heading</h1>
          <p class="lead">Jumbo helper text</p>
          <hr class="my-2">
          <p>More info</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
          </p>
        </div>
      </div>">
        <p style="font-size: 85px;">Kansas City Professor & Author</p>
        <button type="button" class="btn btn-dark" role="button">Say Hello</button>
      </div>
    </div>
  </div>
</div>