<main id="community_section">
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-7 p-5">
                    <h1 class="display-5">Community</h1>
                    <p>I believe that if public dollars supports my research then my research should be used to benefit community organizers and community learners. I volunteer in Kansas City to achieve this goal, from teaching workshops on race and racism to offering my own skills in writing and research to benefit charity partners. In addition, I link students with nonprofits for capacity-building projects! Listening to the needs of community partners, students create prototypes that community partners may or may not improve and use for later use. This approach maintains sustainable relationships between the university and the Metro Area and doesn't overburden already busy nonprofits! In the past, I've worked with Code for KC, Global FC, MARC, and Center for Neighborhoods! I would love to connect with others and learn how I and my students can serve you!</p>
                        
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reusefull"> Re.Use.Full</button>  
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#writing_counterstory"> Workshop: Writing Counterstories</button>
                    
                    <div class="modal fade" id="reusefull" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Re.Use.Full</h5>
                              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                When I moved to Kansas City, MO in August 2019, a friend and colleague introduced me to <a href="https://codeforkc.org/">Code for KC</a>, a chapter of Code for America comprised of "developers, designers, data geeks, policy buffs, and idea makers" that work with local government to make Kansas City a better place for all. I work as a content writers and advisory board member for Re.Use.Full. This website is like Tinder: matches donors with lightly used goods to giveaway with charity partners that need them! 
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-primary" href="https://www.reusefull.org/" role="button">Visit Re.Use.Full!</a>
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="modal fade" id="writing_counterstory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Writing Counterstories about Race and Racism</h5>
                              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                In summer 2021 I taught a community course called Writing Counterstories about Race and Racism in Kansas City for <a href="https://www.trinitykc.org/">Trinity United Methodist Church</a>. In this six-week online course, a class of majority-White community learners first learned about what critical race theory and counterstories are. Then we brainstomed what race and racism looks like in the present and waht they looked like in the past. Having confronted White privilege and the limitations of liberal civil rights, students wrote and workshopped their own counterstories. The course concluded with naming actions the Church could committ to in the coming months. 
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-primary" href="https://docs.google.com/document/d/1N49MxB0ix8XCFqNTW3EvlWk8Bir9M9QVJL9Fx_kfCdE/edit?usp=sharing" role="button">Read more!</a>
                            </div>
                          </div>
                        </div>
                    </div>
                <div class="col-sm-5 p-5">
                    <img class="img-fluid border border-primary border-5" src="assets/css/images/hands_community.jpg" alt="Image of hands from different races laid out next to each other."> 
                </div>
            </div>
        </div>
    </section>
</main>