<div class="container p-3 bg-cards">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="p-0 m-3 text-light"><h3>Teaching</h3></div>
      <a href="#">
        <div class="card img-fluid p-0 m-3"> 
          <img src="assets/css/images/seema_teaching.jpg"  alt="Card image cap" style="width:100">
          <div class="hover-text card-img-overlay p-5 text-center text-white">
            <p>Check out the courses I teach at UMKC! :)</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="p-0 m-3 text-light"><h3>Research</h3></div>
      <a href="#">
        <div class="card img-fluid p-0 m-3">
          <img src="assets/css/images/jay_research.jpg"  alt="Card image cap" style="width:100%">
          <div class="hover-text card-img-overlay p-5 text-center text-white">
            <p>Learn more about my research interests and my current projects</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="p-0 m-3 text-light"><h3>Community</h3></div>
      <a href="#">
        <div class="card img-fluid p-0 m-3">
          <img src="assets/css/images/kimson_community.jpg" alt="Card image cap" style="width:100">
          <div class="hover-text card-img-overlay p-5 text-center text-white">
            <p>Discover how I use my research interests for community engagement!</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>