<div class="card-deck row justify-content-center text-white">
    <div class="col-6 col-md-4">
      <img class="card-img" src="assets/css/images/seema_teaching.jpg" alt="Card image cap">
      <div class="card-img-overlay">
        <h5 class="card-title">Teaching</h5>
      </div>
    </div>
    <div class="col-6 col-md-4">
      <img class="card-img" src="assets/css/images/kimson_community.jpg" alt="Card image cap">
      <div class="card-img-overlay">
        <h5 class="card-title">Research</h5>
      </div>
    </div>
    <div class="col-6 col-md-4">
      <img class="card-img" src="assets/css/images/jay_research.jpg" alt="Card image cap">
      <div class="card-img-overlay">
        <h5 class="card-title">Community</h5>
      </div>
    </div>
  </div>