<div class="container p-5">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="p-0 m-3">
        <img class="card-img" src="assets/css/images/seema_teaching.jpg" alt="Card image cap">
        <div class="hover-text card-img-overlay p-5 text-center text-white">
          <h3>Teaching</h3>
          <p>Check out the course I teach at UMKC! Course descriptions and syllabi included for download! :)</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="p-0 m-3">
        <img class="card-img" src="assets/css/images/jay_research.jpg"  alt="Card image cap">
        <div class="hover-text card-img-overlay p-5 text-center text-white">
          <h3>Research</h3>
          <p>Learn more about my research interests and my current projects</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="p-0 m-3">
        <img class="card-img" src="assets/css/images/kimson_community.jpg" alt="Card image cap">
        <div class="hover-text card-img-overlay p-5 text-center text-white">
          <h3>Community</h3>
          <p>Discover how I've turned my research interests into doing good for the Kansas City Metro Area!</p>
        </div>
      </div>
    </div>
  </div>
</div>