<!--MAIN CONTENT-->
<main>
    <section>
     <div class="row align-items-center">
         <div class="col-md-3 col-12 text-center">
           <div class="col-12">
             <button type="button" class="btn btn-dark" role="button">Tricks</button>
           </div>
           <p class="p-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       </div>

       <div class="col-md-3 col-12 text-center">
             <div class="col-12">
               <button type="button" class="btn btn-dark" role="button">Gear</button>
             </div>
             <p class="p-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         </div>

         <div class="col-md-3 col-12 text-center">
             <div class="col-12">
               <button type="button" class="btn btn-dark" role="button">Stories</button>
             </div>
             <p class="p-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>

       </div>
   </section>
 </main>